In [1]:
import pandas as pd
import numpy as np

Question 1

What's the version of Pandas that you installed?

You can get the version information using the __version__ field:

In [2]:
pd.__version__

'2.3.1'

Getting the data

For this homework, we'll use the California Housing Prices dataset. Download it from here.

You can do it with wget:

wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv
Or just open it with your browser and click "Save as...".

Now read it with Pandas.

In [4]:
data = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv')

In [5]:
data.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

Question 2

How many records are in the dataset?

In [7]:
data.shape[0]

2160

Question 3

How many laptop brands are presented in the dataset?

In [8]:
data.Brand.nunique()

27

In [9]:
data.nunique()

Laptop          2160
Status             2
Brand             27
Model            121
CPU               28
RAM                9
Storage           12
Storage type       2
GPU               44
Screen            29
Touch              2
Final Price     1440
dtype: int64

Question 4

How many columns in the dataset have missing values?

In [10]:
data.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

Question 5

What's the maximum final price of Dell notebooks in the dataset?

In [12]:
data.groupby('Brand')['Final Price'].agg(['mean', 'min', 'max'])

                         mean      min      max
Brand
Acer              1001.285766   264.14  3691.00
Alurin             484.701379   239.00   869.00
Apple             1578.227672   299.00  3849.00
Asus              1269.380699   239.25  5758.14
Deep Gaming       1505.377500  1334.00  1639.01
Dell              1153.839881   379.00  3936.00
Denver             329.950000   329.95   329.95
Dynabook Toshiba   999.197895   397.29  1805.01
Gigabyte          1698.488958   799.00  3799.00
HP                 952.628478   210.14  5368.77
Innjoo             347.888333   251.40   431.38
Jetwing            469.270000   469.27   469.27
LG                1730.028438   609.04  2399.00
Lenovo            1087.723880   239.00  5018.14
MSI               1913.451006   444.19  7150.47
Medion             905.331875   246.89  3799.00
Microsoft         1595.543247   599.01  3747.91
Millenium         1976.845000  1640.98  2312.71
PcCom             1606.762917  1049.00  1949.90
Primux             339.618750   208.99   599.41
Prixton            292.280000   246.95   329.95
Razer             3265.701622  1232.74  4999.01
Realme             999.000000   999.00   999.00
Samsung           1595.511364   365.90  3699.01
Thomson            316.860000   201.05   436.56
Toshiba            799.000000   799.00   799.00
Vant              1047.455455   632.00  1217.01

In [13]:
data[data.Brand == 'Dell']['Final Price'].max()

np.float64(3936.0)

Question 6

Find the median value of Screen column in the dataset.
Next, calculate the most frequent value of the same Screen column.
Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.
Now, calculate the median value of Screen once again.
Has it changed?

In [16]:
median_screen = data['Screen'].median()
median_screen

np.float64(15.6)

In [17]:
mode_screen = data['Screen'].mode()[0]
mode_screen

np.float64(15.6)

In [ ]:
data['Screen'].fillna(mode_screen ).median()

No, it's left the same.

### Question 7

1. Select all the "Innjoo" laptops from the dataset.
2. Select only columns RAM, Storage, Screen.
3. Get the underlying NumPy array. Let's call it X.
Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
5. Invert XTX.
6. Create an array y with values [1100, 1300, 800, 900, 1000, 1100].
7. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
8. What's the sum of all the elements of the result?

In [19]:
innjoo_df = data[data.Brand == 'Innjoo']
innjoo_df = innjoo_df[['RAM', 'Storage', 'Screen']]
innjoo_df.head()

      RAM  Storage  Screen
1478    8      256    15.6
1479    8      512    15.6
1480    4       64    14.1
1481    6       64    14.1
1482    6      128    14.1

In [20]:
X = innjoo_df.values
XTX = X.T.dot(X)
XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 2.78025381e-01, -1.51791334e-03, -1.00809855e-01],
       [-1.51791334e-03,  1.58286725e-05,  4.48052175e-04],
       [-1.00809855e-01,  4.48052175e-04,  3.87214888e-02]])

In [21]:
y = np.array([1100, 1300, 800, 900, 1000, 1100])

In [22]:
w = (XTX_inv @ (X.T)) @ y

In [23]:
w

array([45.58076606,  0.42783519, 45.29127938])

In [25]:
sum(w)

np.float64(91.2998806299555)